<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Alyas.Feature.CatalogRefresh.ServiceConfigurators.CatalogRefreshServiceConfigurator,Alyas.Feature.CatalogRefresh" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Alyas.Feature.CatalogRefresh.Pipelines.Initialize.InitializeRoute, Alyas.Feature.CatalogRefresh" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
