<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Alyas.Feature.CatalogRefresh.ServiceConfigurators.CatalogRefreshServiceConfigurator,Alyas.Feature.CatalogRefresh" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Alyas.Feature.CatalogRefresh.Pipelines.Initialize.InitializeRoute, Alyas.Feature.CatalogRefresh" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="CatalogRefresh.BaseUrl.PROD" value="[Your OrderCloud Prod URL here]"/>
      <setting name="CatalogRefresh.ClientId.PROD" value="[Your OrderCloud Prod Client Id here]"/>
      <setting name="CatalogRefresh.ClientSecret.PROD" value="[Your OrderCloud Prod Client Secret here]"/>
      <setting name="CatalogRefresh.BaseUrl.STAGE" value="[Your OrderCloud Stage URL here]"/>
      <setting name="CatalogRefresh.ClientId.STAGE" value="[Your OrderCloud Stage Client Id here]"/>
      <setting name="CatalogRefresh.ClientSecret.STAGE" value="[Your OrderCloud Stage Client Secret here]"/>
      <setting name="CatalogRefresh.BaseUrl.TEST" value="[Your OrderCloud Test URL here]"/>
      <setting name="CatalogRefresh.ClientId.TEST" value="[Your OrderCloud Test Client Id here]"/>
      <setting name="CatalogRefresh.ClientSecret.TEST" value="[Your OrderCloud Test Client Secret here]"/>
      <setting name="CatalogRefresh.BaseUrl.DEV" value="[Your OrderCloud Dev URL here]"/>
      <setting name="CatalogRefresh.ClientId.DEV" value="[Your OrderCloud Dev Client Id here]"/>
      <setting name="CatalogRefresh.ClientSecret.DEV" value="[Your OrderCloud Dev Client Secret here]"/>
      <setting name="CatalogRefresh.CatalogId" value="[Your catalog id here]"/>
    </settings>
  </sitecore>
</configuration>
